DB_NAME=your_database_name
DB_USERNAME=your_database_username
DB_PASSWORD=your_database_password
JWT_SECRET=change-this-256bits-character-development-secret-before-production-use
JWT_ACCESS_TOKEN_EXPIRATION_MS=900000
JWT_REFRESH_TOKEN_EXPIRATION_MS=2592000000
SERVER_PORT=8080
